.display {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.margin {
  margin: 1rem;
}
.black {
  border:black 1px solid;
}
.green {
  border:green 1px solid;
}
.blue {
  border:blue 1px solid;
}
